body {margin: 0;}

header {    
    display: flex;
    justify-content: center;
    width: 100vw;
    padding:10px 0;
    background-color: #363b81;}

header > h1 {
    color: #5db9ff
}

h2 {color: #ff1f1f;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

.result {
    display: flex;
    justify-content: center;
    margin: 1em;
    font-family:'Courier New', Courier, monospace

}

.search {
    display: flex;
    justify-content: center;
}

.result img {
    width: 160px;
    height: 213px;
    margin-right: 1em;
    padding: 1em;
    border: 1px groove #363b81;
    box-shadow: 3px 5px 10px #cacac9;
}

footer {    
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
    background-color: #363b81;
    color: #bbe0fd;
    position: absolute;
    bottom: 0;
}