.result {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family:'Courier New', Courier, monospace;
    border-bottom: 1px solid #fff;
}

.result img {
    width: 100%;
    margin: auto;
    padding: 1em;
    float: right;
    width: 100p
   
}

.pokemonSearched {
    text-transform: capitalize;
}

.card-title {
    margin-top: 2.5em;
}


footer {    
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
    background-color: #363b81;
    color: #bbe0fd;
    position: absolute;
    bottom: 0;
}

input[type=text]{
    border: 1px solid rgb(206, 206, 206);
    padding: 3px 15px;
}

button {
    border: 1px solid rgb(206, 206, 206);
}


/* IMPLEMENTAÇÃO TESTE */
.detailed-card {
    visibility: hidden;
    position: absolute;
    transition: 4s;
}



/* body {margin: 0;}

header {    
    display: flex;
    justify-content: center;
    width: 100vw;
    padding:10px 0;
    background-color: #363b81;}

header > h1 {
    color: #5db9ff
}

h2 {color: #ff1f1f;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}



.search {
    display: flex;
    justify-content: center;
}



 */